.card {
  flex: 0.2;
  /* width: 350px; */
  margin: 10px;
  border-radius: 10px;
  /* overflow: hidden; katzahem tsawer bach itqado flpage dialk */
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in; /*animation*/
  cursor: pointer;
  padding: 8px;
  background-color: white;
  /* #2c2f33 */
  color: black;
  border: 2px;
  height: 400px;
  margin-bottom: 100px;
}
.card:hover {
  transform: scale(1.07);
}
.card > img {
  object-fit: fill; /*This property tells the content to fill the container in a variety of ways*/
  min-width: 100%;
  min-height: 40%;
  width: 100%;
  margin: 0;
}
.card > hr {
  color: rgb(228, 217, 217);
  opacity: 0.5;
}
.card_info > h5 {
  color: gray;
  font-size: 14px;
}
.description:hover {
  color: #faba00;
}

.rating {
  display: flex;
  align-items: center;
  color: #ffbf05;
}
.ratingStar {
  color: #ffbf05;
}
.rating > h6 {
  margin-top: 5px;
  margin-left: 5px;
}
