.Footer {
  height: 600px;
  width: 100%;
  object-fit: contain;
}
.Footer > hr {
  color: gray;
}
.mariage {
  color: #F582A7;
}
.mariageFooter {
  color: gray;
}
.FooterMariage {
  opacity: 0.7;
  font-size: 30px;
  padding-left: 30px;
}
.PFinalFooter {
  color: gray;
  padding-top: 10px;
  padding-left: 30px;
}
.Footer > p {
  font-weight: 600;
  margin-left: 30px;
  color: gray;
}
.Footer > h1 {
  font-weight: 600;
  margin: 3px 0 0 30px;
  padding-top: 20px;
  cursor: pointer;
}
.FooterInfo {
  display: flex;
}

/* categories */

.FooterInfo1 > p {
  margin-left: 100px;
  cursor: pointer;
}
.FooterInfo1 > p:hover {
  text-decoration: underline;
}
.FooterInfo1 {
  margin-top: 50px;
  color: gray;
}
.FooterInfo1 > h6 {
  margin-left: 100px;
  color: black;
  margin-bottom: 35px;
  font-weight: bold;
  opacity: 0.7;
  cursor: pointer;
}

/* about */

.FooterInfo2 > p {
  margin-left: 150px;
  cursor: pointer;
}
.FooterInfo2 > p:hover {
  text-decoration: underline;
}
.FooterInfo2 {
  margin-top: 50px;
  color: gray;
}
.FooterInfo2 > h6 {
  margin-left: 150px;
  color: black;
  margin-bottom: 35px;
  font-weight: bold;
  opacity: 0.7;
  cursor: pointer;
}

/* support */

.FooterInfo3 > p {
  margin-left: 100px;
  cursor: pointer;
}
.FooterInfo3 > p:hover {
  text-decoration: underline;
}
.FooterInfo3 {
  margin-top: 50px;
  color: gray;
}
.FooterInfo3 > h6 {
  margin-left: 100px;
  color: black;
  margin-bottom: 35px;
  font-weight: bold;
  opacity: 0.7;
  cursor: pointer;
}

/* community */

.FooterInfo4 > p {
  margin-left: 150px;
  cursor: pointer;
}
.FooterInfo4 > p:hover {
  text-decoration: underline;
}

.FooterInfo4 {
  margin-top: 50px;
  color: gray;
}
.FooterInfo4 > h6 {
  margin-left: 150px;
  color: black;
  margin-bottom: 35px;
  font-weight: bold;
  opacity: 0.7;
  cursor: pointer;
}
.FinalFooter {
  display: flex;
  text-align: center;
  padding-top: 20px;
}
