.Offer{
    /* flex:1; */
    height: 80vh;;
    color:rgb(180, 179, 179);
    display: flex;
}
.element {
    display: flex;
    margin:50px;
    margin-left: 250px;
}
/* .input{
    margin-left: 50px;
} */
.btn-danger{
    margin-left: 605px;
    
}
.inputI{
    margin-left:90px ;
}
.inputD{
    margin-left:49px ;
    
}
.inputP{
    margin-left:95px ;
    
}
.label{
    margin-top: 30px;
    margin-left: 545px;
}
.services{
    margin-top: 30px;
    margin-left: 20px;
}
.welcomeOffer{
    margin-top: 170px;
    width: 28%;
    height: 20vh;
    background-color: #F582A7;
    color: black;
    border-radius: 3%;
    margin-left: 5px;
  }
  .welcomeOffer>p{
    padding:20px;
  }

